@charset "UTF-8";

@font-face {
    font-family: "junction";
    src: url(fonts/junction.otf) format("opentype");
}

@font-face {
    font-family: "Myndraine";
    src: url(fonts/Myndraine.otf) format("opentype");
}

@font-face {
    font-family: "Ubuntu";
    src: url(fonts/Ubuntu-Title.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: #012B67;
    text-align: center;          /* for ie */
    color:#ffffff;
    font-family: "junction", Helvetica, Verdana, Arial, serif;
    font-size:12px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h2 {
    font-family: "Myndraine";
    margin-bottom:5px;
}
h3 {
    margin-top:10px;
    padding-left:10px;
}
h4 {
    margin-top:5px;
    padding-left:20px;
}

#content {
    width: 800px;
    margin: 0px auto;
    text-align: left;            /* restoration of ie hack */
}

#header {
    width: 100%;
    height: 100px;
    background: url(images/headslice.jpg) repeat-x;
    display: block;
    clear: both;
    text-align:left;
}

#centerrific {
    width: 800px;
    margin: 0px auto;
}

#centerrific .slogan{
    font-family: "Myndraine";
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 1.2em;
}

.nav {
    width: 100%;
    font-family: "Ubuntu", monaco, monospace, verdana, arial, georgia, serif;
    font-size: 1.2em;
    /*font-weight: bold;*/
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.nav a {
    /*background: #97C8FE;
    color: #012B67;*/
    padding: 5px 15px;
    margin-right: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 1px 10px #000;
    -webkit-box-shadow: 0 5px 5px #000;
}
.nav a:hover {
    background: #012B67;
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(69,187,255,0.25);
    -moz-box-shadow: 0 1px 10px #fff;
    -webkit-box-shadow: 0 1px 10px #fff;
}

#demo {
    display:block;
    width:100%;
    height:250px;
    -moz-box-shadow: 0 10px 40px #000;
    -webkit-box-shadow: 0 10px 40px #000;
    margin-bottom: 50px;
}

#show1 {
    width:800px;
    height:250px;
    background: url(images/show1.jpg) no-repeat;
    margin:0px auto;
}

#show2 {
    width:800px;
    height:250px;
    background: url(images/show2.jpg) no-repeat;
    margin:0px auto;
}

.text {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 1px 10px #000;
    -webkit-box-shadow: 0 5px 5px #000;
    background: url(images/topshade.png) top center no-repeat;
}

.textclose {
    display:block;
    margin: 10px; padding: 40px 20px;
    font-family: "junction", verdana, arial, serif;
    line-height: 1.6em;
    background: url(images/bottomshade.png) bottom center no-repeat;
}

.text a {
    color: #ffff99;
    border-bottom:1px dotted #ffffff;
}
.text .minitext {
    padding-left: 40px;
}
.text .minitext pre{
    padding:5px;
    color: #00ff00;
    background-color:#000;
    margin:5px;
    margin-right:60px;
    font-family: Consolas, Monospace, Monaco, "Courier New";
    font-size:0.9em;
}
.textclose .nav a{
    text-decoration:none;
    border:0px;
}

#footer {
    margin-top: 40px;
    background: url(images/pandamonkium.png) bottom right no-repeat;
    height: 60px;
    text-align: center;
    font-size: 0.8em;
    clear: both;
    display: block;
}